:root[dir="rtl"] {
  --font-family-body: var(--font-family-sans);
  --font-family-title: var(--font-family-sans);
}

:root[dir="rtl"] body {
  text-align: start;
}

:root[dir="rtl"] .button {
  letter-spacing: normal;
}
