h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
  color: var(--color-heading);
  font-weight: 600;
  line-height: 1.2;
  text-wrap: balance;
}

h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4,
h5,
h6 { font-size: var(--font-size-h4); }

p,
li,
dt,
dd,
blockquote {
  color: var(--color-text-primary);
}

small {
  font-size: var(--font-size-body-compact);
}

@media (width >= 900px) {
  :root {
    --font-size-body: var(--font-size-300);
  }
}
